<div class="task-container">
  <tasks-periodic-task-part [form]="form.get('task')"></tasks-periodic-task-part>
</div>
<div class="alarm-container" *ngIf="alarmShowed$ | async">
  <alarms-single-main-part [form]="form.get('alarm')"></alarms-single-main-part>
</div>
<div class="notification-container" *ngIf="alarmShowed$ | async">
  <alarms-form-type-part [formGroup]="form.get(formNames.typesGroup)"></alarms-form-type-part>
  <alarms-periodic-notification-part [parentForm]="form"></alarms-periodic-notification-part>
</div>
