.selected {
  background-color: #fff3b0 !important;
}

.selected-dark {
  background-color: #303030 !important;
}

::ng-deep .mat-checkbox-ripple {
  display: none !important;
}

.buttons {
  overflow: hidden;
  flex-wrap: wrap;
  gap: 5px;
}

.text-button {
  max-width: calc(100% - 34px);
}
