<form (ngSubmit)='submit()' [autocomplete]='null | autocomplete' [formGroup]='form' class='pa-1'>
  <div class='d-flex align-baseline'>
    <div class='w-50 pr-1'>
      <form-time-picker [parentForm]='form' label='form.label.time'></form-time-picker>
    </div>
    <div class='w-50 pl-1'>
      <mat-form-field class='w-100'>
        <mat-label>
          {{'form.label.day' | translate}}
        </mat-label>
        <mat-select [formControlName]='formNames.notificationType'>
          <mat-option *ngFor='let type of types' [value]='type.value'>
            {{'shared.notificationsTypes.' + type.name | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-form-field [ngClass]="{'hidden' : intervalHidden$ | async}" class='w-100'>
    <mat-label>
      {{intervalLabel$ | async | translate}}
    </mat-label>
    <input
      [autocomplete]='null | autocomplete'
      [formControlName]='formNames.interval'
      [max]='maxInterval$ | async'
      [min]='1'
      matInput
      type='number' />
  </mat-form-field>
  <span *ngIf='form.get(formNames.notificationTime).invalid && form.get(formNames.notificationTime).touched'>
    <form-errors-container
      [errors]='errors.notificationTime'
      [input]='form.get(formNames.notificationTime)'
      part='notificationTime'
      prefix='alarms'>
    </form-errors-container>
  </span>
  <span *ngIf='form.get(formNames.notificationType).invalid && form.get(formNames.notificationType).touched'>
    <form-errors-container
      [errors]='errors.notificationType'
      [input]='form.get(formNames.notificationType)'
      part='notificationType'
      prefix='alarms'>
    </form-errors-container>
  </span>
  <div class='d-flex align-center'>
    <form-multi-select
      [formGroup]='form.get(formNames.typesGroup)'
      [hideButtons]='true'
      [reset]='reset$'
      [values]='types$ | async'
      class='w-100 pl-1'
      label='form.label.notificationTypes'>
    </form-multi-select>
    <button [disabled]='form.invalid' mat-icon-button type='submit'>
      <mat-icon>
        add
      </mat-icon>
    </button>
  </div>
  <span *ngIf='form.get(formNames.typesGroup).get(formNames.search).invalid && form.get(formNames.typesGroup).get(formNames.search).touched'>
    <form-errors-container
      [errors]='errors.types'
      [input]='form.get(formNames.typesGroup).get(formNames.search)'
      part='types'
      prefix='alarms'>
    </form-errors-container>
  </span>
</form>
