<mat-card class='ma-1 hover-activator pt-2'>
  <mat-card-header class='w-100 d-block'>
    <div #header [style.max-width]='headerWidth | async' class='d-flex align-center justify-center pa-1 h-50px'>
      <p class='mb-0 w-100 single-line'>
        {{video.name}}
      </p>
      <div class='buttons d-flex-hover'>
        <button (click)='showCatalogs()' [disabled]='video.catalogs.length === 0' mat-icon-button type='button'>
          <mat-icon [matTooltip]="'tooltips.catalogs' | translate | pinnedTooltip : video.catalogs.length">
            folder
          </mat-icon>
        </button>
        <button (click)='showTasks()' [disabled]='video.tasks.length === 0' mat-icon-button type='button'>
          <mat-icon [matTooltip]="'tooltips.tasks' | translate | pinnedTooltip : video.tasks.length">
            rule
          </mat-icon>
        </button>
        <button (click)='switchWatched()' mat-icon-button type='button'>
          <mat-icon *ngIf='video.watched' [matTooltip]="'tooltips.watched' | translate">
            smart_display
          </mat-icon>
          <mat-icon *ngIf='!video.watched' [matTooltip]="'tooltips.notWatched' | translate">
            watch_later
          </mat-icon>
        </button>
        <button (click)='edit()' mat-icon-button type='button'>
          <mat-icon [matTooltip]="'tooltips.edit' | translate">
            create
          </mat-icon>
        </button>
        <button (click)='delete()' mat-icon-button type='button'>
          <mat-icon [matTooltip]="'tooltips.delete' | translate">
            delete
          </mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content [ngClass]="{'loading' : loading}">
    <youtube-player (ready)='ready()' [showBeforeIframeApiLoads]='false' [videoId]='video.ytId'></youtube-player>
  </mat-card-content>
</mat-card>
