.block-input {
  display: block;
}

.add-button {
  margin: 5px;
  width: calc(100% - 10px);
}

.background-color-input {
  padding-top: 10px;
}

.assign-switch {
  display: flex;
  justify-content: center;
}
