<div class='d-block border-radius-5 hover-activator basic-bg-hover'>
  <div class='d-flex pa-1 align-center h-45px'>
    <p class='mb-0 pl-1 single-line w-100 text-underline-hover'>
      {{file.name}}
    </p>
    <span class='d-flex-hover'>
      <button (click)='download()' mat-icon-button type='button'>
        <mat-icon [matTooltip]="'tooltips.download' | translate">
          download
        </mat-icon>
      </button>
      <button (click)='remove()' *ngIf='delete' mat-icon-button type='button'>
        <mat-icon [matTooltip]="'tooltips.delete' | translate">
          delete
        </mat-icon>
      </button>
    </span>
  </div>
  <simple-view-progress-bar [id]='file.id'></simple-view-progress-bar>
</div>
