<mat-vertical-stepper [linear]="true">
  <mat-step>
    <ng-template matStepLabel>{{'tasks.form.parts.task' | translate}}</ng-template>
    <tasks-single-task-part [form]="form.get('task')"></tasks-single-task-part>
  </mat-step>
  <mat-step *ngIf="alarmShowed$ | async">
    <ng-template matStepLabel>{{'tasks.form.parts.alarm' | translate}}</ng-template>
    <alarms-single-main-part [form]="form.get('alarm')"></alarms-single-main-part>
  </mat-step>
  <mat-step *ngIf="alarmShowed$ | async">
    <ng-template matStepLabel>{{'tasks.form.parts.notifications' | translate}}</ng-template>
    <alarms-form-type-part [formGroup]="form.get(formNames.typesGroup)"></alarms-form-type-part>
    <alarms-single-notification-part [parentForm]="form"></alarms-single-notification-part>
  </mat-step>
</mat-vertical-stepper>

