$color-basic: #fff3b0;
$color-primary: #e8790e;
$color-accent: #335c67;
$color-warn: #9e2a2b;
$color-dark: #ebebeb;
$color-checked: #b2b2b2;
$color-yellow: #fcf032;
$color-green: #5cb525;
$palette-basic: (
  50 : #fffef6,
  100 : #fffbe7,
  200 : #fff9d8,
  300 : #fff7c8,
  400 : #fff5bc,
  500 : #fff3b0,
  600 : #fff1a9,
  700 : #ffefa0,
  800 : #ffed97,
  900 : #ffea87,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$palette-primary: (
  50 : #fbf3e8,
  100 : #f6e2c5,
  200 : #f0cf9f,
  300 : #e9bc78,
  400 : #e5ad5b,
  500 : #e09f3e,
  600 : #dc9738,
  700 : #d88d30,
  800 : #d38328,
  900 : #cb721b,
  A100 : #ffffff,
  A200 : #ffe4cd,
  A400 : #ffc99a,
  A700 : #ffbb80,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$palette-accent: (
  50 : #e7ebed,
  100 : #c2ced1,
  200 : #99aeb3,
  300 : #708d95,
  400 : #52747e,
  500 : #335c67,
  600 : #2e545f,
  700 : #274a54,
  800 : #20414a,
  900 : #143039,
  A100 : #78dcff,
  A200 : #45cfff,
  A400 : #12c2ff,
  A700 : #00b8f7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$palette-warn: (
  50 : #f3e5e6,
  100 : #e2bfbf,
  200 : #cf9595,
  300 : #bb6a6b,
  400 : #ad4a4b,
  500 : #9e2a2b,
  600 : #962526,
  700 : #8c1f20,
  800 : #82191a,
  900 : #700f10,
  A100 : #ffa4a5,
  A200 : #ff7173,
  A400 : #ff3e40,
  A700 : #ff2527,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
