<form (ngSubmit)='submitForm()' [autocomplete]='null | autocomplete' [formGroup]='form'>
  <div class='language-switch d-flex pr-2'>
    <shared-lang class='ml-auto'></shared-lang>
  </div>
  <div class='form-container'>
    <mat-form-field>
      <mat-label>
        {{'form.label.password' | translate}}
      </mat-label>
      <input [formControlName]='formNames.password' matInput type='password' />
    </mat-form-field>
    <span *ngIf='form.get(formNames.password).invalid && form.get(formNames.password).touched'>
      <form-errors-container
        [errors]='errors.password'
        [input]='form.get(formNames.password)'
        part='password'
        prefix='resetPassword'>
      </form-errors-container>
    </span>
    <mat-form-field>
      <mat-label>
        {{'form.label.repeatPassword' | translate}}
      </mat-label>
      <input [formControlName]='formNames.repeatPassword' matInput type='password' />
    </mat-form-field>
    <span *ngIf='form.get(formNames.repeatPassword).invalid && form.get(formNames.repeatPassword).touched'>
      <form-errors-container
        [errors]='errors.repeatPassword'
        [input]='form.get(formNames.repeatPassword)'
        part='password'
        prefix='resetPassword'>
      </form-errors-container>
    </span>
    <button [disabled]='form.invalid' color='primary' mat-raised-button type='submit'>
      {{'form.actions.change' | translate}}
    </button>
  </div>
</form>
