<form (ngSubmit)='submit()' [autocomplete]='null | autocomplete' [formGroup]='form'>
  <div class='pt-2 px-2'>
    <mat-form-field class='w-100'>
      <mat-label>
        {{'form.label.currentPassword' | translate}}
      </mat-label>
      <input [formControlName]='formNames.currentPassword' matInput type='password' />
    </mat-form-field>
    <div
      *ngIf='form.get(formNames.currentPassword).invalid && form.get(formNames.currentPassword).touched'
      class='mb-1'>
      <form-errors-container
        [errors]='errors.currentPassword'
        [input]='form.get(formNames.currentPassword)'
        part='currentPassword'
        prefix='settings'>
      </form-errors-container>
    </div>
  </div>
  <div class='px-2 pt-2'>
    <mat-form-field class='w-100'>
      <mat-label>
        {{'form.label.newPassword' | translate}}
      </mat-label>
      <input [formControlName]='formNames.password' matInput type='password' />
    </mat-form-field>
    <div *ngIf='form.get(formNames.password).invalid && form.get(formNames.password).touched' class='mb-1'>
      <form-errors-container
        [errors]='errors.password'
        [input]='form.get(formNames.password)'
        part='password'
        prefix='settings'>
      </form-errors-container>
    </div>
  </div>
  <div class='pt-2 px-2'>
    <mat-form-field class='w-100'>
      <mat-label>
        {{'form.label.repeatPassword' | translate}}
      </mat-label>
      <input [formControlName]='formNames.repeatPassword' matInput type='password' />
    </mat-form-field>
    <div *ngIf='form.get(formNames.repeatPassword).invalid && form.get(formNames.repeatPassword).touched' class='mb-1'>
      <form-errors-container
        [errors]='errors.repeatPassword'
        [input]='form.get(formNames.repeatPassword)'
        part='repeatPassword'
        prefix='settings'>
      </form-errors-container>
    </div>
  </div>
  <div class='pt-2 px-2'>
    <button [disabled]='form.invalid' class='ma-2 w-100' color='primary' mat-raised-button type='submit'>
      {{'form.actions.change' | translate}}
    </button>
  </div>
</form>
