<shared-dialog-header (clear)='clear()'></shared-dialog-header>
<mat-dialog-content>
  <form-yes-no-select
    [control]='statusControl'
    label='form.label.status'
    noAnswer='form.options.onlyActive'
    yesAnswer='form.options.onlyInactive'>
  </form-yes-no-select>
  <div class='two-columns-container'>
    <div>
      <mat-form-field class='w-100'>
        <mat-label>
          {{'form.label.name' | translate}}
        </mat-label>
        <input [autocomplete]='null | autocomplete' [formControl]='name' matInput type='text' />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class='w-100'>
        <mat-label>
          {{'form.label.content' | translate}}
        </mat-label>
        <input [autocomplete]='null | autocomplete' [formControl]='content' matInput type='text' />
      </mat-form-field>
    </div>
  </div>
  <div class='two-columns-container'>
    <div>
      <form-yes-no-select
        [control]='taskControl'
        label='form.label.task'
        noAnswer='form.options.onlyWithoutTask'
        yesAnswer='form.options.onlyWithTask'>
      </form-yes-no-select>
    </div>
    <div>
      <form-yes-no-select
        [control]='typeControl'
        label='form.label.type'
        noAnswer='form.options.onlyPeriodic'
        yesAnswer='form.options.onlySingle'>
      </form-yes-no-select>
    </div>
  </div>
  <div *ngIf='typeControl.value === true'>
    <div class='two-columns-container'>
      <div>
        <mat-form-field class='w-100'>
          <mat-label>
            {{'form.label.from' | translate}}
          </mat-label>
          <button (click)='clearStartDate()' mat-icon-button matPrefix type='button'>
            <mat-icon>
              clear
            </mat-icon>
          </button>
          <input
            (click)='startPicker.open()'
            [formControl]='startDate'
            [matDatepicker]='startPicker'
            class='c-pointer'
            matInput readonly />
          <mat-datepicker-toggle [for]='startPicker' matSuffix></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class='w-100'>
          <mat-label>
            {{'form.label.to' | translate}}
          </mat-label>
          <button (click)='clearStopDate()' mat-icon-button matPrefix type='button'>
            <mat-icon>
              clear
            </mat-icon>
          </button>
          <input
            (click)='stopPicker.open()'
            [formControl]='stopDate'
            [matDatepicker]='stopPicker'
            class='c-pointer'
            matInput readonly />
          <mat-datepicker-toggle [for]='stopPicker' matSuffix></mat-datepicker-toggle>
          <mat-datepicker #stopPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <form-multi-select
    *ngIf='(catalogs$ | async)?.length > 0'
    [formGroup]='catalogsGroup'
    [reset]='reset$'
    [values]='catalogs$ | async'
    label='form.label.catalogs'>
  </form-multi-select>
</mat-dialog-content>
