<form (ngSubmit)='submitForm()' [formGroup]='form' class='ma-1 pa-0'>
  <div class='language-switch d-flex pr-2'>
    <shared-lang class='ml-auto'></shared-lang>
  </div>
  <div class='form-container'>
    <mat-form-field class='w-100'>
      <mat-label>
        {{'form.label.email' | translate}}
      </mat-label>
      <input [formControlName]='formNames.email' matInput type='email' />
    </mat-form-field>
    <button [disabled]='form.invalid' class='w-100' color='primary' mat-raised-button type='submit'>
      {{'form.actions.reset' | translate}}
    </button>
    <button [routerLink]='[loginPath]' class='w-100 mt-1' color='primary' mat-stroked-button type='button'>
      {{'routes.toLogin' | translate}}
    </button>
  </div>
</form>
